/* header section: Uses flexbox to arrange 
elements horizontally with space between them, 
applies a dark brown backgroun and larg horizontal
padding to create a wide, structured appreance.*/
header{
    font-family: Georgia,;
    font-weight: 700;
    display: flex;
    padding: 20px 200px;
    background-color: #3c2218;
    align-items: center;
    justify-content: space-between;
}

/*The heading and description is designed to  have a 
specific font size with color and black shadow for readability*/
h1{
    margin:0;
    font-size:130px;
    color:#b83;
    text-shadow: 10px 10px 20px  black;
}

p{
    margin:0;
    color: #8a3313;
    text-shadow: 2px 2px 8px  #b83
}

img{
    width:350px;
}

/*removes margin for full control of spacing and layout*/
body{
    margin:0;
}

/*used to make the content side by side*/
.up{
    display: flex;
}

/*To decor the box with background color, alignment
and fonts*/
#box{
    background-color: #ff8f20;
    font-family: 'Times New Roman';
    font-size: xx-large;
    padding: 50px 50px;
    width: 50%;
    align-items: center;
}

/*The ingredients section will occupy the first box*/
#ingd{
    background-color: #8a3313;
    padding: 20px 50px;
    width:50%;
}

#ingd h2{
    font-family: Georgia;
    font-size: xx-large;
    color:#ff8f20;
    text-shadow: 10px 10px 20px  black;
}

#ingd ul{
    font-family: 'Times New Roman';
    font-size: x-large;
    color:#ff8f20;
    text-shadow: 10px 10px 20px  black;
}

/*The methods section will occupy the bottom section*/
.meths{
    box-shadow:  0 0 0 40px #b83;
    background-color: #b83;
    padding: 20px 50px;
}

.meths h2{
    font-family: Georgia;
    font-size: xx-large;
    color:white;
    text-shadow: 10px 10px 20px #17072b;
}

.meths ol{
    font-family: 'Times New Roman';
    font-size: x-large;
    color:white;
    text-shadow: 10px 10px 20px #17072b;
}